name: Lint and Format Check

on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:

permissions:
  actions: read
  contents: read
  statuses: write

jobs:
  lint:
    name: Run Linters
    runs-on: ubuntu-slim

    steps:
      - name: "notify vercel"
        uses: "vercel/repository-dispatch/actions/status@v1"
        with:
          name: "Vercel - homepage-2025-vue: lint"

      - name: Checkout
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version: latest
          check-latest: true
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run lint check
        run: pnpm lint

      - name: Run format check
        run: pnpm format:check
